<html>
    <head>
        <title>
            First Practice Project
        </title>
        <!-- bootstrap 4 cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- Google fonts -ARVO -->
        <link href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
         <!-- Custom Css-->
        <link rel="stylesheet" href="/stylesheets/custom.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark nav-bg-primary mb-4 fixed-top">
            <div class="container">
              
                <a class="navbar-brand" href="/">LONGMiles__</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/activities">Show Activities</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/activities/chooseActivity">Create Activities</a>
                    </li>
                  </ul>
                  
                  <ul class="navbar-nav ml-auto">
                      <% if(!currentUser){ %>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                      </li>
                      <% } else{ %>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Signed in as <em><%= currentUser.username %></em></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                      </li>
                      <% } %>
                  </ul>
                </div>
                
            </div>
      </nav>   <!-- End Nav -->

    <div class="container">
      <% if(error && error.length>0){ %>
        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
      <% } %>
      <% if(success && success.length>0) { %>
        <div class="alert alert-success" role="alert">
            <%=success%>
        </div>
      <% } %>
    </div>
