<% include ../partials/header %>

<div class="container text-center">
    <h1 class="display-4 text-info">Edit your review</h1>
    <div class="jumbotron">
        <div class="row justify-content-center">
            <div class="col-4">
                <form action="/activities/trekkings/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                    <div class="form-group">
                        <textarea name="newComment[text]" class="form-control" placeholder="your comment" rows="3"><%= comment.text %>
                        </textarea>
                    </div>
                    <button name="submit" class="btn btn-danger btn-lg btn-block">Save!</button>
                </form>
            </div>
        </div> <!-- End row -->
    </div> <!-- End jumbotron -->
</div> <!-- End container -->


<% include ../partials/footer %>